html {
  scroll-behavior: smooth;
}
body {
  background-color: #482be7;
  padding: 0;
  margin: 0;
}
.container-first {
  background-image: url(background-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 1000px;
}
.hero {
  margin-top: 142px;
  justify-self: center;
  align-items: center;
  width: 736px;
  height: 257px;
}
.hero-start {
  text-align: center;
  color: white;
  font-size: 24px;
}
.hero-title {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: 700;
}
.hero-paragraph {
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 32px;
}
.hero-second {
  justify-self: center;
}
.hero-circles {
  justify-self: center;
  display: flex;
  gap: 20px;
}
.circle-1 {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 58px;
  margin-top: 49px;
}
.circle {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
  margin-bottom: 58px;
  margin-top: 48px;
}
.hero-btn {
  padding: 17px 36px;
  background-color: #482be7;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
}
.container-second {
  background-image: url(background-content-form.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 600px;
}
.content {
  justify-items: center;
  text-align: center;
  margin-top: -15px;
}
.content-text {
  color: white;
  width: 815px;
  height: 307px;
}
.content-text h3 {
  padding-top: 120px;
  font-size: 14px;
}
.content-text h2 {
  font-size: 58px;
  font-weight: 800;
}
.content-text p {
  font-size: 18px;
  font-weight: 30px;
  line-height: 28px;
}
.container-third {
  background-image: url(background-features.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 900px;
}
#features-content {
  display: flex;
  padding-top: 200px;
}
.features-text {
  color: white;
  width: 600px;
  height: 168px;
  margin-top: 50px;
}
.features-text h1 {
  font-size: 42px;
}
.features-text p {
  font-size: 22px;
}

.lower-text {
  display: flex;
  margin-top: 65px;
}
.second-text {
  width: 271px;
  height: 186px;
}
.second-text h2 {
  font-size: 14px;
  font-weight: 100px;
}
.second-text p {
  font-size: 16px;
  font-weight: 50px;
}
.third-features {
  width: 271px;
  height: 186px;
}
.third-features h2 {
  font-size: 14px;
  font-weight: 100px;
}
.third-features p {
  font-size: 16px;
  font-weight: 50px;
}
.features-circles {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 159px;
  margin-top: 200px;
}
.circle-1f {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.circle-f {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
}
.container-fourth {
  background-image: url(background-content-form.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 750px;
}
#form {
  margin-top: 160px;
  display: flex;
  justify-self: center;
  gap: 130px;
  padding-top: 100px;
}
.form-text {
  width: 369px;
  height: 318px;
  color: white;
  padding-top: 80px;
}
.form-text h2 {
  font-size: 42px;
  font-weight: 600;
}
.form-text p {
  font-size: 16px;
  font-weight: 50;
  line-height: 26px;
}
.form-signup {
  width: 470px;
  height: 550px;
  background-color: white;
  border: 0;
  border-radius: 20px;
}
.signup-text {
  display: flex;
  justify-self: center;
  gap: 200px;
  color: #1e0e62;
}
.signup-text h2 {
  font-size: 14px;
}
.signup-text button {
  background-color: transparent;
  border: 0;
}
.signup-text button:hover {
  color: #25dac5;
  cursor: pointer;
}
.signup-body {
  justify-self: center;
  padding-top: 100px;
}

.signup-user input {
  width: 330px;
  height: 50px;
  border: 1;
  border-color: gainsboro;
  border-radius: 50px;
  border-style: solid;
  font-size: 18px;
  background-color: white;
}
.signup-pass input {
  width: 330px;
  height: 50px;
  border: 1;
  border-color: gainsboro;
  border-radius: 50px;
  border-style: solid;
  font-size: 18px;
  margin-top: 30px;
  background-color: transparent;
}
.signup-buttons h3 {
  justify-self: center;
}
.signup-btn button {
  margin-top: 40px;
  width: 330px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #25dac5;
  color: white;
}
.twitter-signup button {
  width: 330px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #1da1f2;
  color: white;
}
.form-login {
  width: 470px;
  height: 550px;
  background-color: white;
  border: 0;
  border-radius: 20px;
}
.login-text {
  display: flex;
  justify-self: center;
  gap: 200px;
  color: #1e0e62;
}
.login-text button {
  background-color: transparent;
  border: 0;
}
.login-text h2 {
  font-size: 14px;
}
.login-text button:hover {
  color: #25dac5;
  cursor: pointer;
}
.login-body {
  justify-self: center;
  padding-top: 100px;
}
.login-user input {
  width: 330px;
  height: 50px;
  border: 1;
  border-color: gainsboro;
  border-radius: 50px;
  border-style: solid;
  font-size: 18px;
  background-color: white;
}
.login-pass input {
  width: 330px;
  height: 50px;
  border: 1;
  border-color: gainsboro;
  border-radius: 50px;
  border-style: solid;
  font-size: 18px;
  margin-top: 30px;
  background-color: transparent;
}
.login-buttons h3 {
  justify-self: center;
}
.login-btn button {
  margin-top: 40px;
  width: 330px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #25dac5;
  color: white;
}
.container-fifth {
  width: 1680px;
  height: 900px;
  margin-top: -20px;
  background-color: #1e0e62;
}
.testimonial {
  padding-top: 100px;
  justify-self: center;
}
.testimonial-h2 {
  color: white;
  font-size: 42px;
  font-weight: 600;
}
.testimonial-clients {
  display: flex;
  flex-wrap: wrap;
  width: 970px;
  height: 504px;
  gap: 30px;
}
.box {
  display: flex;
  color: white;
  width: 460px;
  height: 237px;
  border: 1px solid white;
  border-radius: 10px;
}
.box img {
  width: 70px;
  height: 70px;
  padding-right: 30px;
  padding-top: 25px;
  padding-left: 20px;
}
.box p {
  font-size: 18px;
  line-height: 28px;
  width: 307px;
}
.testimonial-text h2 {
  font-size: 14px;
  color: gray;
}
#first-box h2 {
  padding-top: 15px;
}
#second-box h2 {
  padding-top: 45px;
}
#third-box h2 {
  padding-top: 100px;
}
#fourth-box h2 {
  padding-top: 100px;
}

.container-sixth {
  background-image: url(Background\ action.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 700px;
  margin-top: -50px;
}
.call-to-action {
  justify-self: center;
  text-align: center;
}
.action-text {
  color: white;
  width: 770px;
  height: 277px;
}
.action-text h2 {
  padding-top: 150px;
  font-size: 58px;
  font-weight: 600;
}
.action-text p {
  font-size: 22px;
  font-weight: 50px;
  line-height: 32px;
}
.action-btn {
  padding-top: 200px;
}
.yt-btn {
  padding: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100%;
  background-color: red;
  border: 0;
  margin-right: 30px;
}
.start-btn {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #25dac5;
  color: white;
}
.container-seven {
  background-color: #2f1893;
  color: white;
  width: 1680px;
  height: 1130px;
  margin-top: -20px;
}
.showcase {
  justify-self: center;
}
.showcase-text {
  padding-top: 150px;
  padding-bottom: 60px;
  display: flex;
  gap: 598px;
}
.showcase-text h2 {
  font-size: 42px;
  font-weight: 400;
  margin: 0;
}
.showcase-text button {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: 1;
  border-color: gainsboro;
  border-style: solid;
  border-radius: 50px;
}
.showcase-img {
  display: flex;
  flex-wrap: wrap;
  width: 970px;
  height: 816px;
  gap: 30px;
  text-align: center;
}
.showcase-img h3 {
  font-size: 14px;
  font-weight: 20;
}
.showcase-img h2 {
  font-size: 22px;
  font-weight: 30;
}
.container-eight {
  width: 1680px;
  height: 990px;
  background-color: #2f1893;
  margin-top: -40px;
  color: white;
}
.team {
  justify-self: left;
  margin-left: 115px;

  width: 774px;
  height: 179px;
}
.team-text h2 {
  padding-top: 150px;
  font-size: 42px;
  font-weight: 600;
}
.team-text p {
  width: 754px;
  font-size: 22px;
  line-height: 32px;
}
.team-img {
  display: flex;
  flex-wrap: wrap;
  width: 763px;
  height: 543px;
  row-gap: 60px;
  column-gap: 146px;
}
.team-box {
  width: 154px;
  height: 241px;
}
.team-box h2 {
  font-size: 20px;
}
.team-box h3 {
  font-size: 16px;
  font-weight: 20;
}
.team-icons {
  display: flex;
  gap: 30px;
  height: 16px;
  padding-top: 16px;
}
.container-nine {
  background-image: url(Background\ contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 770px;
  color: white;
  align-items: center;
}
.contacts {
  padding-top: 150px;
  justify-self: center;
  display: flex;
  gap: 200px;
}
.contacts-text h2 {
  font-size: 42px;
  width: 410px;
}
.contacts-text p {
  width: 410px;
  font-size: 22px;
  font-weight: 30;
  line-height: 32px;
}
.contacts-num {
  display: flex;
  gap: 10px;
}
.contacts-num i {
  margin-top: 30px;
}
.contacts-num p {
  font-size: 16px;
}
.contacts-mail {
  display: flex;
  gap: 10px;
}
.contacts-mail i {
  margin-top: 30px;
}
.contacts-mail p {
  font-size: 16px;
}
.contacts-address {
  width: 280px;
  display: flex;
  gap: 10px;
}
.contacts-address i {
  margin-top: 30px;
}
.contacts-address p {
  font-size: 16px;
}
.contacts-box {
  width: 470px;
  background-color: white;
  color: #1e0e62;
  border-radius: 20px;
  border: 0;
}
.contacts-signup {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-self: center;
}
.contacts-name h2 {
  font-size: 14px;
}
.contacts-signup input {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 22px;
  border-color: gainsboro;
  border-style: solid;
}
.contacts-budget h2 {
  font-size: 14px;
}
.contacts-budget button {
  width: 140px;
  height: 50px;
  border-radius: 50px;
  font-size: 22px;
  background-color: white;
  border-color: gainsboro;
  border-style: solid;
}
.input-field {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.input-field input {
  width: 370px;
  height: 50px;
  border-color: gainsboro;
  border-style: solid;
  border-radius: 50px;
  font-size: 22px;
}
.message {
  margin-top: 35px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.message textarea {
  border-color: gainsboro;
  resize: none;
  border-radius: 10px;
  border-style: solid;
  font-size: 16px;
  width: 370px;
  height: 110px;
}
.submit-btn {
  align-items: center;
  margin-top: 30px;
  justify-self: center;
  display: flex;
  gap: 120px;
}
.submit-btn button {
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  border: 0;
  background-color: #25dac5;
  color: white;
}
.container-ten {
  background-image: url(background-pricing.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 1200px;
  color: white;
  margin-top: -20px;
}
.Pricing-text {
  margin: 0;
  text-align: center;
  padding-top: 100px;
}
.Pricing-text h2 {
  font-size: 42px;
}
.Pricing-text p {
  font-size: 22px;
  width: 586px;
  height: 64px;
  justify-self: center;
}
.pricing-box {
  display: flex;
  justify-self: center;
  gap: 30px;
}
.Starter {
  width: 370px;
  height: 730px;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
}
.Starter h2 {
  padding-left: 70px;
  padding-top: 64px;
  font-size: 22px;
  font-weight: 50;
}
.Starter h3 {
  padding-left: 70px;
  font-size: 58px;
  margin: 0;
  padding-top: 10px;
}
.Starter ul {
  padding-left: 70px;
  margin: 0;
  color: gray;
}
.checked {
  margin-top: 44px;
  padding-left: 45px;
}
.Starter li {
  list-style: none;
  line-height: 26px;
  padding-bottom: 10px;
}
.Starter button {
  margin-left: 70px;
  margin-top: 30px;
  background-color: transparent;
  border: 1;
  border-color: white;
  border-radius: 50px;
  border-style: solid;
  color: white;
  padding: 17px;
  padding-left: 60px;
  padding-right: 60px;
}
.Starter i {
  padding-right: 10px;
}
.professional {
  width: 370px;
  height: 730px;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
}
.professional h2 {
  padding-left: 70px;
  padding-top: 64px;
  font-size: 22px;
  font-weight: 50;
}
.professional h3 {
  padding-left: 70px;
  font-size: 58px;
  margin: 0;
  padding-top: 10px;
}
.professional ul {
  padding-left: 70px;
  margin: 0;
  color: gray;
}
.professional li {
  list-style: none;
  line-height: 26px;
  padding-bottom: 10px;
}
.professional button {
  margin-left: 70px;
  margin-top: 30px;
  background-color: transparent;
  border: 1;
  border-color: white;
  border-radius: 50px;
  border-style: solid;
  color: white;
  padding: 17px;
  padding-left: 60px;
  padding-right: 60px;
}
.professional i {
  padding-right: 10px;
}
.team-pricing {
  width: 370px;
  height: 730px;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
}
.team-pricing h2 {
  padding-left: 70px;
  padding-top: 64px;
  font-size: 22px;
  font-weight: 50;
}
.team-pricing h3 {
  padding-left: 70px;
  font-size: 58px;
  margin: 0;
  padding-top: 10px;
}
.team-pricing ul {
  padding-left: 70px;
  margin: 0;
}
.team-pricing li {
  list-style: none;
  line-height: 26px;
  padding-bottom: 10px;
}
.team-pricing button {
  margin-left: 70px;
  margin-top: 30px;
  background-color: transparent;
  border: 1;
  border-color: white;
  border-radius: 50px;
  border-style: solid;
  color: white;
  padding: 17px;
  padding-left: 60px;
  padding-right: 60px;
}
.team-pricing i {
  padding-right: 10px;
}
.pricing-box button:hover {
  background-color: #e93a7d;
  border: 0;
  border-color: transparent;
}
