body {
  background-color: #482be7;
  padding: 0;
  margin: 0;
}
.container-first {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 1000px;
}
.hero {
  margin-top: 142px;
  justify-self: center;
  align-items: center;
  width: 736px;
  height: 257px;
}
.hero-start {
  text-align: center;
  color: white;
  font-size: 24px;
}
.hero-title {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: 700;
}
.hero-paragraph {
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 32px;
}
.hero-second {
  justify-self: center;
}
.hero-circles {
  justify-self: center;
  display: flex;
  gap: 20px;
}
.circle-1 {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 58px;
  margin-top: 49px;
}
.circle {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
  margin-bottom: 58px;
  margin-top: 48px;
}
.hero-btn {
  padding: 17px 36px;
  background-color: #482be7;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
}
.container-second {
  background-image: url(Image\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 600px;
}
.content {
  justify-items: center;
  text-align: center;
  margin-top: -15px;
}
.content-text {
  color: white;
  width: 815px;
  height: 307px;
}
.content-text h3 {
  padding-top: 120px;
  font-size: 14px;
}
.content-text h2 {
  font-size: 58px;
  font-weight: 800;
}
.content-text p {
  font-size: 18px;
  font-weight: 30px;
  line-height: 28px;
}
.container-third {
  background-image: url(Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1680px;
  height: 900px;
}
.features-content {
  display: flex;
  padding-top: 200px;
}
.features-text {
  color: white;
  width: 600px;
  height: 168px;
  margin-top: 50px;
}
.features-text h1 {
  font-size: 42px;
}
.features-text p {
  font-size: 22px;
}

.lower-text {
  display: flex;
  margin-top: 65px;
}
.second-text {
  width: 271px;
  height: 186px;
}
.second-text h2 {
  font-size: 14px;
  font-weight: 100px;
}
.second-text p {
  font-size: 16px;
  font-weight: 50px;
}
.third-features {
  width: 271px;
  height: 186px;
}
.third-features h2 {
  font-size: 14px;
  font-weight: 100px;
}
.third-features p {
  font-size: 16px;
  font-weight: 50px;
}
.features-circles {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 159px;
  margin-top: 200px;
}
.circle-1f {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.circle-f {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
}
